#profileDisplayWrapper {
    margin-top: 100px;
}

#profileEditForm {
    margin-top: 16px;
}

#profileEditForm button[type="submit"] {
    margin-top: 32px;
}

.profilePicture {
    margin: 0 0 0 auto;
    max-height: 300px;
}

#viewListingsProfileButton {
    margin-top: 32px;
}

#editProfileButton {
    margin-top: 32px;
}

#profileJoined {
    font-style: italic;
    color: #888;
}
