/* Global styles for the entire app */

main {
    padding-top: 85px;
}

h1 {
    text-align: center;
}

.ui.label>.icon {
    margin: auto;
}

.primaryColour {
    color: #60b0f4;
}

.primaryColourSection {
    background-color: #60b0f4;
    color: white;
}

.ui.button.primaryColour {
    background-color: #60b0f4;
    color: white;
}

.ui.button.primaryColour:hover {
    background-color: #4a92ce;
}

.ui.button.primaryColourAlt {
    background-color: white;
    color: #60b0f4;
}

.ui.button.primaryColourAlt:hover {
    background-color: #eee;
}

.section {
    padding: 50px 30px;
}

.rootContainer {
    margin-top: 30px;
    padding-bottom: 150px;
    min-height: 70vh;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
}
