#searchWrapper {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

#searchWrapper #searchDivider {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    overflow: hidden;
}

#searchWrapper #searchDivider:before, #searchWrapper #searchDivider:after {
    color: white;
    background-image: none;
    border-top: 2px solid white;
    position: relative;
    top: 6px;
}

#searchWrapper #searchDivider:before {
    right: 10px;
}

#searchWrapper #searchDivider:after {
    left: 10px;
}

.searchBar {
    width: 60%;
    margin: 0 auto;
}

.listingsButton {
    margin-top: 50px;
    padding: 10px;
}

#PlacesAutocomplete__root{
    z-index: 1;   /* This is the ID that appears when PlacesAutoComplete renders - we couldnt figure out how to pass styles */
}

#PlacesAutocomplete__root input {
    border: 5px solid transparent;
    border-radius: 5px;
}

#PlacesAutocomplete__root input:focus {
    outline: none;
}

#searchWrapper .listingsButton {
    padding: 15px 30px;
    font-size: 1.2em;
}
