#scheduleWrapper #scheduleCalendarView {
    height: 90vh;
    margin-top: 30px;
}

#scheduleWrapper #scheduleButtonWrapper {
    margin-top: 30px;
}

#scheduleWrapper #meetingCards #pendingMeetingsCardGroup {
    margin-top: 15px;
}

#scheduleWrapper #scheduleCalendarWrapper {
    margin-top: 50px;
}

#scheduleWrapper #noPendingMeetings {
    font-style: italic;
    font-weight: normal;
}
